<div class="container">
		<div class="row" id="heading">
			<div class="col-xs-12 text-center">
				<header>
					<h1> Degree Planner </h1>
					<h3> Enter your courses, then click registered or completed as you take courses. </h3>
				</header>
			</div>
			<div class="col-xs-12 text-center">
				<div>
					<form class="courseEntryForm" id="courseEntryForm" action="/" method="POST">
						<div class="form-group">
							<input required="true" type="text" id="courseName" name="name" placeholder="Ex. Calculus 1 - MATH 271">
							<div class="input-field" required="true" aria-required="true" id="semesterInput">
		                        <select required="true" class="form-control" name="semester" id="semester">
		                            <option id="option" required="true" value="" disabled selected> Select Semester </option>
		                            <option name="semester" value="Fall"> Fall </option>
		                            <option name="semester" value="Spring"> Spring </option>
		                            <option name="semester" value="Summer"> Summer </option>
		                        </select>
		                    </div>
							<input required="true" type="number" id="courseYear" name="year" placeholder="Ex. 2018">
							<input required="true" type="number" id="courseCredits" name="credits" placeholder="(credits) Ex. 3">
							<div class="input-field" name="status" aria-required="true" id="statusInput">
		                        <select required="true" class="form-control" name="status" id="status">
		                            <option value="" disabled selected hidden> Select Status </option>
		                            <option selected="selected" name="status" value="planned"> Planned </option>
		                            <option name="status" value="current"> Registered </option>
		                            <option name="status" value="completed"> Completed </option>
		                        </select>
		                    </div>
		                	<input type="text" id="gradeEntry" name="grade" placeholder="Ex. B+ (optional)">
							<button class="btn btn-lg" id="addCourse" type="submit"> Add Course </button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div id="plannedDiv">
					<div class="category categoryPlanned">
						<img class="clipboardPic" src="assets/img/clipboard-yellow.png">
						<span> Planned ({{plannedSum}} cr.) </span>
					</div>
					{{#each planned}}
						
							<div class="plannedCourses">
								<div class="row" id="plannedRow">
									<div class="col-sm-12" id="courseLabelDiv">
										<div class="row classRow courseInfo">
											<div class="col-sm-12">
												<p class="courseName plannedCourse"> {{this.course_name}} </p>
											</div>
											<div class="col-sm-12">
												<span class="displaySemester plannedCourse"> {{this.semester}} </span><span class="displayYear plannedCourse"> {{this.year}} </span>
											</div>
											<div class="col-sm-12">
												<p class="displayCredits plannedCourse"> {{this.credits}} <span> cr. </span> </p>
											</div>
										</div>
										<div class="row classRow">
											<div class="col-sm-6">
												<form class="currentLftBtn" action="/status?_method=PUT" method="POST">
													<input type="hidden" name="status" value="current">
													<input type="hidden" name="id" value="{{this.id}}">
													<button type="submit" class="registeredButton plannedButton btn">Registered </button>
												</form>
											</div>
											<div class="col-sm-6">
												<form class="currentRtBtn" action="/delete?_method=DELETE" method="POST">
													<input type="hidden" name="completed" value="0">
														<input type="hidden" name="id" value="{{this.id}}">
														<button type="submit" class="deleteButton plannedDeleteButton plannedButton btn"> Delete </button>
												</form>
											</div>
										</div>
										<form>
											<input type="hidden" name="id" value="{{this.id}}">
											<button data-id="{{this.id}}" type="button" class="editButton editCourse plannedCourse btn currentRtBtn editTrigger" data-toggle="modal" data-target="#editCourse"> <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button>
										</form>
									</div>
								</div>
							</div>
					
					{{/each}}
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div id="currentDiv">
					<div class="category categoryCurrent">
						<img class="certificatePic" src="assets/img/blue-book.png">
						<span> Registered ({{currentSum}} cr.) </span>
					</div>
					{{#each current}}
						
							<div class="currentCourses">
								<div class="row" id="currentRow">
									<div class="col-sm-12" id="courseLabelDiv">
										<div class="row classRow courseInfo">
											<div class="col-sm-12">
												<p class="courseName currentCourse"> {{this.course_name}} </p>
											</div>
											<div class="col-sm-12">
												<span class="displaySemester currentCourse"> {{this.semester}} </span><span class="displayYear currentCourse"> {{this.year}} </span>
											</div>
											<div class="col-sm-12">
												<p class="displayCredits currentCourse"> {{this.credits}} <span> cr. </span> </p>
											</div>
										</div>
										<div class="row" class="classRow">
											<div class="col-sm-6">
												<button id="{{this.id}}" type="button" class="currentLftBtn completedButton currentButton gradeTrigger btn btn-info btn-lg" data-toggle="modal" data-target="#courseGrade"> Completed! </button>
											</div>
											<div class="col-sm-6">
												<form class="currentRtBtn" action="/delete?_method=DELETE" method="POST">
													<input type="hidden" name="completed" value="0">
														<input type="hidden" name="id" value="{{this.id}}">
														<button type="submit" class="deleteButton currentDeleteButton currentButton btn"> Delete </button>
												</form>
											</div>
										</div>

										<form>
											<input type="hidden" name="id" value="{{this.id}}">
											<button data-id="{{this.id}}" type="button" class="editButton editCourse currentCourse btn currentRtBtn editTrigger" data-toggle="modal" data-target="#editCourse"> <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button>
										</form>


									</div>
								</div>
							</div>
					
					{{/each}}
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div id="completedDiv">
					<div class="category categoryCompleted">
						<img class="certificatePic" src="assets/img/certificate-blue.png">
						<span> Completed ({{completedSum}} cr.) </span>
					</div>
					{{#each completed}}
							<div class="completedCourses">
								<div class="row" id="completedRow">
									<div class="col-sm-12" id="courseLabelDiv">
										<div class="row classRow courseInfo">
											<div class="col-sm-12">
												<p class="courseName completedCourse"> {{this.course_name}} </p>
											</div>
											<div class="col-sm-12">
												<span class="displaySemester completedCourse"> {{this.semester}} </span><span class="displayYear completedCourse"> {{this.year}} </span>
											</div>
											<div class="col-sm-12">
												<p class="displayCredits completedCourse"> {{this.credits}} <span> cr. </span> </p>
											</div>
										</div>
										<div class="row" class="classRow">
											<div id="gradeDiv" class="col-sm-6">
												<div id="gradeButton" class="gradeButton completedGradeButton currentLftBtn"> {{this.grade}} </div>
											</div>
											<div class="col-sm-6">
												<form action="/delete?_method=DELETE" method="POST">
													<input type="hidden" name="completed" value="0">
													<input type="hidden" name="id" value="{{this.id}}">
													<button type="submit" class="deleteButton completedButton completedDeleteButton btn currentRtBtn"> Delete </button>
												</form>
										
											</div>
										</div>
										<form>
											<input type="hidden" name="id" value="{{this.id}}">
											<button data-id="{{this.id}}" type="button" class="editButton editCourse completedCourse btn currentRtBtn editTrigger" data-toggle="modal" data-target="#editCourse"> <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button>
										</form>
									</div>
								</div>
							</div>
					{{/each}}
				</div>
			</div>
		</div>

	<!-- Grade Modal -->
  	<div class="modal fade" id="courseGrade" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content" id="gradeModal">
		        <div class="modal-header">
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		          	<h2 class="modal-title"> Congratulations! </h2>
		        </div>
		        <div class="modal-body">
		          	<p> Please enter your grade. </p>
		          	<p class="noGrade"> If no grade is given, you can enter N/A </p>
		          	<form class="gradeEntryForm" id="gradeEntryForm" action="/grade?_method=PUT" method="POST">
						<div class="form-group">
							<input type="hidden" name="id" class="idValue">
							<input required="true" type="text" id="gradeEntryInput" name="grade" placeholder="Ex. B+">
							<button class="btn btn-lg editCourse editGradeSubmit statusSubmit" id="addGrade" type="submit"> <i class="glyphicon glyphicon-send" aria-hidden="true"></i> </button>
						</div>
					</form>
		        </div>
	      </div>
	    </div>
  	</div>

  	<!-- Edit Modal -->
  	<div class="modal fade" id="editCourse" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content">
		        <div class="modal-header">
		          	<button id="closeModal" type="button" class="close" data-dismiss="modal">&times;</button>
		          	<h2 class="modal-title"> Course Update </h2>
		        </div>
		        <div class="modal-body">
		          	<p> Please make any desired changes. </p>
		          	<form class="editEntryForm" id="editEntryForm" action="/name?_method=PUT" method="POST">
						<div class="form-group">
							<label> Edit Course Name </label>
							<input type="hidden" name="id" class="idValue">
							<input required="true" type="text" id="courseName2" name="name" placeholder="Ex. Calculus 1 - MATH 271">
							<button class="btn btn-lg editCourse editSubmit" id="editCourse" type="submit"> <i class="glyphicon glyphicon-send" aria-hidden="true"></i> </button> 
						</div>
					</form>	
					<form class="editEntryForm" id="editEntryForm" action="/semester?_method=PUT" method="POST">
						<div class="form-group">
							<label> Edit Course Semester and Status </label>
							<input type="hidden" name="id" class="idValue">
							<div class="input-field" required="true" aria-required="true" id="semesterInput">
		                        <select required="true" class="form-control" name="semester">
		                            <option required="true" value="" disabled selected> Select Semester </option>
		                            <option selected="selected" name="semester" value="Fall"> Fall </option>
		                            <option name="semester" value="Spring"> Spring </option>
		                            <option name="semester" value="Summer"> Summer </option>
		                        </select>
		                    </div>
							<input class="yearForm" required="true" type="number" id="courseYear2" name="year" placeholder="Ex. 2018">
						</div>
						<div class="form-group" name="status">
							<div class="input-field statusForm" name="status" aria-required="true" id="statusInput">
		                        <select required="true" class="form-control" name="status">
		                            <option required="true" value="" disabled selected> Select Status </option>
		                            <option name="status" value="planned"> Planned </option>
		                            <option name="status" value="current"> Registered </option>
		                            <option name="status" value="completed"> Completed </option>
		                        </select>
		                    </div>
		                    <button class="btn btn-lg editCourse editSubmit statusSubmit" id="editCourse" type="submit"> <i class="glyphicon glyphicon-send" aria-hidden="true"></i> </button>
		                </div>
					</form>	
					<form class="editEntryForm" id="editEntryForm" action="/credits?_method=PUT" method="POST">
						<div class="form-group">
							<label> Edit Course Credits </label>
							<input type="hidden" name="id" class="idValue">
							<input required="true" type="number" id="courseCredits2" name="credits" placeholder="(credits) Ex. 3">
							<button class="btn btn-lg editCourse editSubmit" id="editCourse" type="submit"> <i class="glyphicon glyphicon-send" aria-hidden="true"></i> </button>
						</div>
					</form>	
					<form class="editEntryForm" id="editEntryForm" action="/newgrade?_method=PUT" method="POST">
						<div class="form-group">
							<label> Edit Course Grade </label>
							<input type="hidden" name="id" class="idValue">
							<input required="true" type="text" id="gradeEntry2" name="grade" placeholder="N/A">
							<button class="btn btn-lg editCourse editSubmit" type="submit"> <i class="glyphicon glyphicon-send" aria-hidden="true"></i> </button>
						</div>
					</form>
		        </div>
	      </div>
	    </div>
  	</div>

</div> {{!-- ends container --}}

<footer> Copyright &copy;2017 Maria Wong </footer>


