<div class="container">
		<div class="row" id="heading">
			<div class="col-xs-12 text-center">
				<header>
					<h1>Degree Planner</h1>
					<h3>Enter your courses, then click registered or completed as you take courses.</h3>
				</header>
			</div>
			<div class="col-xs-12 text-center">
				<div>
					<form class="courseEntryForm" id="courseEntryForm" action="/" method="POST">
						<div class="form-group">
							<input type="textbox" id="courseName" name="name" placeholder="Ex. Calculus 1 - MATH 271">
							<input type="textbox" id="courseSemester" name="semester" placeholder="Ex. Spring">
							<input type="textbox" id="courseYear" name="year" placeholder="Ex. 2018">
							<input type="textbox" id="courseCredits" name="credits" placeholder="(credits) Ex. 3">
						</div>
						<button class="btn btn-lg" id="addCourse" type="submit">Add Course</button>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div id="plannedDiv">
					<div class="category categoryPlanned">
						<img class="clipboardPic" src="assets/img/clipboard-yellow.png">
						<span> Planned ({{plannedSum}} cr.) </span>
					</div>
					{{#each planned}}
						
							<div class="plannedCourses">
								<div class="row" id="plannedRow">
									<div class="col-sm-12" id="courseLabelDiv">
										<div class="row classRow courseInfo">
											<div class="col-sm-12">
												<p class="courseName plannedCourseName">{{this.course_name}}</p>
											</div>
											<div class="col-sm-12">
												<span class="displaySemester plannedCourseSemester"> {{this.semester}} </span><span class="displayYear plannedCourseYear"> {{this.year}} </span>
											</div>
											<div class="col-sm-12">
												<p class="displayCredits plannedCourseCredits"> {{this.credits}} <span> cr. </span> </p>
											</div>
										</div>
										<div class="row classRow">
											<div class="col-sm-6">
												<form class="currentLftBtn" action="/status?_method=PUT" method="POST">
													<input type="hidden" name="status" value="current">
														<input type="hidden" name="id" value="{{this.id}}">
														<button type="submit" class="registeredButton plannedButton btn">Registered</button>
												</form>
											</div>
											<div class="col-sm-6">
												<form class="currentRtBtn" action="/delete?_method=DELETE" method="POST">
													<input type="hidden" name="completed" value="0">
														<input type="hidden" name="id" value="{{this.id}}">
														<button type="submit" class="deleteButton plannedDeleteButton plannedButton btn">Delete</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
					
					{{/each}}
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div id="currentDiv">
					<div class="category categoryCurrent">
						<img class="certificatePic" src="assets/img/blue-book.png">
						<span> Registered ({{currentSum}} cr.) </span>
					</div>
					{{#each current}}
						
							<div class="currentCourses">
								<div class="row" id="currentRow">
									<div class="col-sm-12" id="courseLabelDiv">
										<div class="row classRow courseInfo">
											<div class="col-sm-12">
												<p class="courseName currentCourseName">{{this.course_name}}</p>
											</div>
											<div class="col-sm-12">
												<span class="displaySemester currentCourseSemester"> {{this.semester}} </span><span class="displayYear currentCourseYear"> {{this.year}} </span>
											</div>
											<div class="col-sm-12">
												<p class="displayCredits currentCourseCredits"> {{this.credits}} <span> cr. </span> </p>
											</div>
										</div>
										<div class="row" class="classRow">
											<div class="col-sm-6">
												<form class="currentLftBtn" action="/status?_method=PUT" method="POST">
													<input type="hidden" name="status" value="completed">
													<input type="hidden" name="id" value="{{this.id}}">
													<button type="submit" class="completedButton currentButton btn">Completed!</button>
												</form>
											</div>
											<div class="col-sm-6">
												<form class="currentRtBtn" action="/delete?_method=DELETE" method="POST">
													<input type="hidden" name="completed" value="0">
														<input type="hidden" name="id" value="{{this.id}}">
														<button type="submit" class="deleteButton currentDeleteButton currentButton btn">Delete</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
					
					{{/each}}
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div id="completedDiv">
					<div class="category categoryCompleted">
						<img class="certificatePic" src="assets/img/certificate-blue.png">
						<span> Completed ({{completedSum}} cr.) </span>
					</div>
					{{#each completed}}
							<div class="completedCourses">
								<div class="row" id="completedRow">
									<div class="col-sm-12" id="courseLabelDiv">
										<div class="row classRow courseInfo">
											<div class="col-sm-12">
												<p class="courseName completedCourseName">{{this.course_name}}</p>
											</div>
											<div class="col-sm-12">
												<span class="displaySemester completedCourseSemester"> {{this.semester}} </span><span class="displayYear completedCourseYear"> {{this.year}} </span>
											</div>
											<div class="col-sm-12">
												<p class="displayCredits completedCourseCredits"> {{this.credits}} <span> cr. </span> </p>
											</div>
										</div>
										<div class="row" class="classRow">
											<div class="col-sm-12">
												<form action="/delete?_method=DELETE" method="POST">
													<input type="hidden" name="completed" value="0">
														<input type="hidden" name="id" value="{{this.id}}">
														<button type="submit" class="deleteButton completedButton completedDeleteButton btn"> Delete </button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
					{{/each}}
				</div>
			</div>
		</div>
</div>

<footer> Copyright &copy;2017 Maria Wong </footer>

<script type="text/javascript" src="assets/js/planner_script.js"></script>