<div class="container">
		<div class="row" id="heading">
			<div class="col-xs-12 text-center">
				<header>
					<h1> Degree Planner </h1>
					<h3> Enter your courses, then click registered or completed as you take courses. </h3>
				</header>
			</div>
			<div class="col-xs-12 text-center">
				<div>
					<form class="courseEntryForm" id="courseEntryForm" action="/" method="POST">
						<div class="form-group">
							<input required="true" type="text" id="courseName" name="name" placeholder="Ex. Calculus 1 - MATH 271">
							<input required="true" type="text" id="courseSemester" name="semester" placeholder="Ex. Spring">
							<input required="true" type="number" id="courseYear" name="year" placeholder="Ex. 2018">
							<input required="true" type="number" id="courseCredits" name="credits" placeholder="(credits) Ex. 3">
						</div>
						<button class="btn btn-lg" id="addCourse" type="submit"> Add Course </button>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div id="plannedDiv">
					<div class="category categoryPlanned">
						<img class="clipboardPic" src="assets/img/clipboard-yellow.png">
						<span> Planned ({{plannedSum}} cr.) </span>
					</div>
					{{#each planned}}
						
							<div class="plannedCourses">
								<div class="row" id="plannedRow">
									<div class="col-sm-12" id="courseLabelDiv">
										<div class="row classRow courseInfo">
											<div class="col-sm-12">
												<p class="courseName plannedCourseName"> {{this.course_name}} </p>
											</div>
											<div class="col-sm-12">
												<span class="displaySemester plannedCourseSemester"> {{this.semester}} </span><span class="displayYear plannedCourseYear"> {{this.year}} </span>
											</div>
											<div class="col-sm-12">
												<p class="displayCredits plannedCourseCredits"> {{this.credits}} <span> cr. </span> </p>
											</div>
										</div>
										<div class="row classRow">
											<div class="col-sm-6">
												<form class="currentLftBtn" action="/status?_method=PUT" method="POST">
													<input type="hidden" name="status" value="current">
														<input type="hidden" name="id" value="{{this.id}}">
														<button type="submit" class="registeredButton plannedButton btn">Registered </button>
												</form>
											</div>
											<div class="col-sm-6">
												<form class="currentRtBtn" action="/delete?_method=DELETE" method="POST">
													<input type="hidden" name="completed" value="0">
														<input type="hidden" name="id" value="{{this.id}}">
														<button type="submit" class="deleteButton plannedDeleteButton plannedButton btn"> Delete </button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
					
					{{/each}}
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div id="currentDiv">
					<div class="category categoryCurrent">
						<img class="certificatePic" src="assets/img/blue-book.png">
						<span> Registered ({{currentSum}} cr.) </span>
					</div>
					{{#each current}}
						
							<div class="currentCourses">
								<div class="row" id="currentRow">
									<div class="col-sm-12" id="courseLabelDiv">
										<div class="row classRow courseInfo">
											<div class="col-sm-12">
												<p class="courseName currentCourseName"> {{this.course_name}} </p>
											</div>
											<div class="col-sm-12">
												<span class="displaySemester currentCourseSemester"> {{this.semester}} </span><span class="displayYear currentCourseYear"> {{this.year}} </span>
											</div>
											<div class="col-sm-12">
												<p class="displayCredits currentCourseCredits"> {{this.credits}} <span> cr. </span> </p>
											</div>
										</div>
										<div class="row" class="classRow">
											<div class="col-sm-6">
												<button id="{{this.id}}" type="button" class="currentLftBtn completedButton currentButton gradeTrigger btn btn-info btn-lg" data-toggle="modal" data-target="#courseGrade"> Completed! </button>
											</div>
											<div class="col-sm-6">
												<form class="currentRtBtn" action="/delete?_method=DELETE" method="POST">
													<input type="hidden" name="completed" value="0">
														<input type="hidden" name="id" value="{{this.id}}">
														<button type="submit" class="deleteButton currentDeleteButton currentButton btn"> Delete </button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
					
					{{/each}}
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div id="completedDiv">
					<div class="category categoryCompleted">
						<img class="certificatePic" src="assets/img/certificate-blue.png">
						<span> Completed ({{completedSum}} cr.) </span>
					</div>
					{{#each completed}}
							<div class="completedCourses">
								<div class="row" id="completedRow">
									<div class="col-sm-12" id="courseLabelDiv">
										<div class="row classRow courseInfo">
											<div class="col-sm-12">
												<p class="courseName completedCourseName"> {{this.course_name}} </p>
											</div>
											<div class="col-sm-12">
												<span class="displaySemester completedCourseSemester"> {{this.semester}} </span><span class="displayYear completedCourseYear"> {{this.year}} </span>
											</div>
											<div class="col-sm-12">
												<p class="displayCredits completedCourseCredits"> {{this.credits}} <span> cr. </span> </p>
											</div>
										</div>
										<div class="row" class="classRow">
											<div id="gradeDiv" class="col-sm-6">
												<div id="gradeButton" class="gradeButton completedGradeButton currentLftBtn"> {{this.grade}} </div>
											</div>
											<div class="col-sm-6">
												<form action="/delete?_method=DELETE" method="POST">
													<input type="hidden" name="completed" value="0">
														<input type="hidden" name="id" value="{{this.id}}">
														<button type="submit" class="deleteButton completedButton completedDeleteButton btn currentRtBtn"> Delete </button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
					{{/each}}
				</div>
			</div>
		</div>

	<!-- Grade Modal -->
  	<div class="modal fade" id="courseGrade" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content">
		        <div class="modal-header">
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		          	<h2 class="modal-title"> Congratulations! </h2>
		        </div>
		        <div class="modal-body">
		          	<p> Please enter your grade. </p>
		          	<p class="noGrade"> If no grade is given, you can enter N/A </p>
		          	<form class="gradeEntryForm" id="gradeEntryForm" action="/grade?_method=PUT" method="POST">
						<div class="form-group">
							<input type="hidden" name="id" class="idValue">
							<input required="true" type="text" id="gradeEntry" name="grade" placeholder="Ex. B+">
						</div>
						<button class="btn btn-lg" id="addGrade" type="submit"> Add Grade </button>
						<button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
					</form>
		        </div>
	      </div>
	    </div>
  	</div>
  
</div> {{!-- ends container --}}

<footer> Copyright &copy;2017 Maria Wong </footer>


